<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if(locals.curWebPage) { %>
        <link rel="stylesheet" href="styles/<%= curWebPage %>.css">
    <% } %>
    <title>My book reviews</title>
</head>