<div class="nav-bar">
    <div class="featured-container">
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
    </div>
    <div class="full-list-container">
        <form action="/full-list" method="get">
            <button type="submit">Featured</button>
        </form>
    </div>
    <div class="create-container">
        <form action="create" method="get">
            <button type="submit">Create review</button>
        </form>
    </div>
    <div class="sort-method-container">
        <select name="sort_method">
            <option value="alphabet_asc">Alphabetical order</option>
            <option value="rating_asc">Highest rated</option>
            <option value="rating_desc">Lowest rated</option>
            <option value=""></option>
        </select>
    </div>
</div>