<div class="nav-bar">
    <div class="featured-container">
        <form action="/" method="get">
            <button type="submit">Home</button>
        </form>
    </div>
    <div class="full-list-container">
        <form action="/full-list" method="get">
            <button type="submit">Featured</button>
        </form>
    </div>
    <div class="create-container">
        <form action="create" method="get">
            <button type="submit">Create review</button>
        </form>
    </div>
    <div class="sort-method-container">
        <label for="sort-menu">Sort reviews:</label>
        <select id="sort-menu" name="sort_method">
            <option value="highest_rated">Highest rated</option>
            <option value="lowest_rated">Lowest rated</option>
        </select>
    </div>
</div>