body {
    background-color: black;
}

#cover {
    height: 250px;
    width: 200px;
    margin: 10px 0px 10px 0px;
}

#page-title {
    margin-top: 10%;
    font-weight: bold;
}

#book-title {
    max-width: 100%;
}

#book-title-container {
    margin-bottom: 10px;
}

.book-review-container {
    max-width: 80%;
    width: 80%;
    min-height: 100vh;
    flex-wrap: wrap;
}

.read-review-btn {
    padding: 10px 20px 10px 20px;
    margin: 0;
    color: white;
    border: none;
    border-radius: 16px;
    background-color: #a7312e;
    cursor: pointer;
}

.read-review-form {
    margin-top: 10px;
}

.book-review {
    margin: 10px;
    padding: 5px;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 45px;
    width: 45px;
    z-index: -1;
    offset: 10px;
    margin: 10px;
}

.stars-container {
    margin: 10px;
}

.empty {
    background-color: gray;
}

.filled {
    background-color: gold;
}

.rating-text{
    margin: 10px 0px 0px 0px;
    font-size: 20px;
}