body {
    background-color: black;
    color: white;
}

#cover {
    height: 80%;
    width: 80%;
}

#title {
    font-size: 40px;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 45px;
    width: 45px;
    z-index: -1;
    offset: 10px;
}

.empty {
    background-color: gray;
}

.filled {
    background-color: gold;
}

.book-review {
    height: 100vh;
}

.header {
    font-size: 40px;
}