body {
    background-color: black;
    color: white;
}

#cover {
    height: 250px;
    width: 200px;
    margin-bottom: 10px;
}

#title {
    text-align: center;
    font-size: 40px;
}

.star {
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    height: 45px;
    width: 45px;
    z-index: -1;
    offset: 10px;
    margin: 10px;
}

.stars-container {
    margin: 10px;
}

.empty {
    background-color: gray;
}

.filled {
    background-color: gold;
}

.book-review {
    height: 100vh;
}

.header {
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0;
}

.read-review-btn {
    padding: 10px 20px 10px 20px;
    margin: 0;
    color: white;
    border: none;
    border-radius: 16px;
    background-color: #a7312e;
    cursor: pointer;
}

.read-review-form {
    margin-top: 10px;
}

.author {
    margin-bottom: 5px;
}

.rating-container {
    margin-top: 10px;
}

.basic-text {
    font-size: 20px;
}

.rating-text {
    margin: 0px;
}