#nav-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: black;
    min-height: 60px;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
    transition: .5s ease-in-out;
}

#nav-btn-container {
    position: fixed;
    display: flex;
    height: 10vh;
    width: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

#nav-btn {
    width: 60px;
    min-height: 45px;
    margin-left: 10px;
    z-index: 2;
    cursor: pointer;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
}

#nav-menu {
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color:#a7312e;
    transition: .5s ease-in-out;
    z-index: 1;
}

#sort-menu {
    font-size: 20px;
}

#nav-btn span {
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-btn span:nth-child(1) {
    top: 0px;
    transform-origin: left center;
}

#nav-btn span:nth-child(2) {
    top: 18px;
    transform-origin: left center;
}

#nav-btn span:nth-child(3) {
    top: 36px;
    transform-origin: left center;
}

#nav-btn.open span:nth-child(1) {
    transform: rotate(45deg);
    top: -3px;
    left: 8px;
}

#nav-btn.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-btn.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 39px;
    left: 8px;
}

#nav-menu.open {
    height: 100%;
}

#nav-container.open {
    height: 100vh;
}

.nav-option {
    background: none;
    margin: 10px;
    padding: 0px;
    border: none;
    cursor: pointer;
    opacity: 100;
    transition: .5s linear;
}

.nav-option.off {
    opacity: 0;
    transition: .1s linear;
    padding-right: 20px;
}

.nav-sort-text {
    text-underline-offset: 5px;
    text-decoration: underline white;
}

.sort-option {
    font-size: 15px
}

