<%- include("partials/header.ejs") %>
<body>
    <form class="review-form" autocomplete="off" action="/create" method="post">
        <div class="book-information">
            <input name="title" type="text" placeholder="Title" required>
            <input name="authors" type="text" placeholder="Authors" required>
            <input name="ibsn" type="number" placeholder="IBSN" required>
        </div>

        <div class="date-input-container">
            <h3>Date Read</h3>
            <input class="date-input" name="date_read" type="date" placeholder="Year" max="" required>
        </div>

        <div class="review-text">
            <textarea name="review" placeholder="Type your review here!" required></textarea>
        </div>

        <h3>Rating: <span id="current-rating">1</span>/5</h3>

        <div class="review-stars-container">
            <!-- Javascript needed. Ex: If user checks checkbox 3 for a 3 star review, the previous checkboxes should get checked as-well -->
             <div class="checkbox-container">
                <input class="checkbox-star" name="rating" value="1" id="1" type="checkbox" checked="true">
                <div class="star"></div>
             </div>
             <div class="checkbox-container">
                <input class="checkbox-star" name="rating" value="2" id="2" type="checkbox">
                <div class="star"></div>
             </div>
             <div class="checkbox-container">
                <input class="checkbox-star" name="rating" value="3" id="3" type="checkbox">
                <div class="star"></div>
             </div>
             <div class="checkbox-container">
                <input class="checkbox-star" name="rating" value="4" id="4" type="checkbox">
                <div class="star"></div>
             </div>
             <div class="checkbox-container">
                <input class="checkbox-star" name="rating" value="5" id="5" type="checkbox">
                <div class="star"></div>
             </div>
        </div>

        <button type="submit">Create review!</button>
    </form>
</body>

<script src="js/create_review.js"></script>

</html>