<%- include("partials/header.ejs") %>
<body class="flex-box-column">
    <form class="review-form" autocomplete="off" action="create" method="post">
        <div class="book-information flex-box-column">
            <div class="mb-3">
                <label for="title" class="form-label h4 white-txt">Book title:</label>
                <input class="form-control form-control-lg" name="title" type="text" placeholder="Title" required>
            </div>

            <div class="mb-3">
                <label for="authors" class="form-label h4 white-txt">Authors:</label>
                <input name="authors" class="form-control form-control-lg" type="text"  placeholder="Authors" required>
            </div>

            <div class="mb-3">
                <label for="ibsn" class="form-label h4 white-txt">IBSN:</label>
                <input name="ibsn" class="form-control form-control-lg" type="number"  placeholder="IBSN" required>
            </div>

            <div class="date-input-container mb-3">
                <label for="date_read" class="white-txt form-label h4">Date read:</label>
                <input class="date-input form-control form-control-lg" name="date_read" type="date" placeholder="Year" max="" required>
            </div>
        </div>


        <div class="review-text">
            <label for="review" class="white-txt form-label h4">Your review:</label>
            <textarea name="review" style="resize: none;" class="form-control" cols="40" rows="5" placeholder="Type your review here!" required></textarea>
        </div>

        <div class="star-rating-container flex-box-column">
            <div class="review-stars-container">
                 <div class="checkbox-container">
                    <input class="checkbox-star" name="rating" value="1" id="1" type="checkbox" checked="true">
                    <div class="star"></div>
                 </div>
                 <div class="checkbox-container">
                    <input class="checkbox-star" name="rating" value="2" id="2" type="checkbox">
                    <div class="star"></div>
                 </div>
                 <div class="checkbox-container">
                    <input class="checkbox-star" name="rating" value="3" id="3" type="checkbox">
                    <div class="star"></div>
                 </div>
                 <div class="checkbox-container">
                    <input class="checkbox-star" name="rating" value="4" id="4" type="checkbox">
                    <div class="star"></div>
                 </div>
                 <div class="checkbox-container">
                    <input class="checkbox-star" name="rating" value="5" id="5" type="checkbox">
                    <div class="star"></div>
                 </div>
            </div>

            <h3 class="white-txt">Rating: <span id="current-rating" class="white-txt">1</span>/5</h3>
        </div>

        <div class="featured-checkbox-container flex-box-column">
            <label for="featured" class="white-txt h3">Feature this review:</label>

            <div class="checkbox-wrapper-5">
                <div class="check">
                  <input id="check-5" class="featured-checkbox" type="checkbox" name="featured">
                  <label for="check-5"></label>
                </div>
            </div>
        </div>

        <button type="submit" class="submit-review-btn">Create review!</button>
    </form>
</body>

<script src="js/create_review.js"></script>

</html>