<%- include("partials/header.ejs") %>
<body class="flex-box-column">
    <%- include("partials/navbar.ejs") %>
    <div class="title-container">
        <h1 class="noto-sans header white-txt display-1" id="page-title">Full list</h1>
        <div class="underline"></div>
    </div>
    <% if(locals.bookReviews) {%>
        <div class="book-review-container flex-box-row">
            <%- include("partials/book_review.ejs", { bookReviews: bookReviews }) %>    
        </div>
    <% } else {%>
        <h1>bruh why</h1>
    <% } %>
</body>
<script src="js/navbar.js"></script>
<script src="js/sort_reviews.js"></script>
</html>
