<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <% if(locals.bookReviews) {%>
        <div class="book-review-container">
            <%- include("partials/book_review.ejs", { bookReviews: bookReviews }) %>    
        </div>
    <% } else {%>
        <h1>bruh why</h1>
    <% } %>
</body>
<script src="js/navbar.js"></script>
<script src="js/sort_reviews.js"></script>
</html>