<%- include("partials/header.ejs") %>
<body>
    <% if(locals.bookReviews) {%>
        <%- include("partials/book_review.ejs", { bookReviews: bookReviews }) %>    
    <% } else {%>
        <h1>bruh why</h1>
    <% } %>

    <form action="create" method="get">
        <button type="submit">Make your own review!</button>
    </form>
</body>
</html>