<%- include("partials/header.ejs") %>
<body>
    <%- include("partials/navbar.ejs") %>
    <% if(locals.bookReviews) {%>
        <%- include("partials/book_review.ejs", { bookReviews: bookReviews }) %>    
    <% } else {%>
        <h1>bruh why</h1>
    <% } %>
</body>
<script src="js/navbar.js"></script>
</html>