<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome to everyones darkest secrets!</h1>
    <%  if(locals.secrets) { %>
      <% for (let index = 0; index < secrets.length; index++) { const el = secrets[index]; %>
        <p class="secret-text"><%= el.secret %></p>
      <% } %>
    <% } %>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
